// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
  position: relative;
}

.Header-wrapper {
  position:relative
}

.Header-bluebar{
  background-color: #0c5a88;
}

.Header-welcome, .Header-zoeken {
  float: left;
}

.Header-telefoon, .Header-winkelmandje {
  float: right;
}

.header-space {
  margin-top: 13px;
}

.header-logo{
  margin: 0;
  position: absolute;
  display: inline;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.39);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.39);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.39);
}

.header-titel{
  margin: 0;
  display: inline;
  font-size: 21px;
  color: #3e3e3e;
  font-weight: 200;
  float: left;
}

.header-tel {
    float: right;
}

.header-imgTel{
   margin: 0;
    display: inline;
    vertical-align: middle;
}

.header-textTel{
     margin: 0;
     display: inline;
      font-size: 21px;
      color: #3e3e3e;
      font-weight: 200;
      vertical-align: middle;
}

.header-winkelmandje{
     margin: 0;
     display: inline;
     font-size: 16px;
     color: #3e3e3e;
     font-weight: 200;
     vertical-align: middle;
     cursor: pointer;
}



.Slide-one-text {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 0;
    bottom: 20px;
    height: 160px;
    width: 325px;
    padding: 0 10px 0 10px;

      p {
        text-align: left;
        font-size: 49px;
        font-weight: 200;
        line-height: 0px;
        color: #0c5a89;
      }
  
      span {
        display: block;
        text-align: left;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #535353;
      }
    a:hover {
    text-decoration: none;
  }
  
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.space-opacity{
  opacity: 0;
  height: 1px;
}


.show-more{
  display: inline;
}


@media screen and (max-width: 700px){
  .header-textTel, .header-imgTel, .show-more header-winkelmandje, .header-winkelmandje, .dropdown-toggle {
    display: none;
  }

  .Header-welcome{
    width: 100%;
    height: 100%;
  }

  .header-titel{
    float: right; 
    font-size: 10px;
  }

  .header-logo{
    width: 100px;
    height: 93px;
  }

  .telefoon{
    margin-right: 20px;
  }

  .Slide-one-text {
    display: none;
  }

}