
.product-row {
	margin-top: 35px;
}
.product-overview {
	.product-detail-button {
		border-bottom: 1px solid #6b6b6b;
	}

	.product {
		position: relative;
		margin-top: 45px;
		}

	.product-title {
		border-bottom: 1px solid #6b6b6b;
		position: absolute;
		top: 0px;
		width: 100%;
	}

	.product-price-from {
		margin-top: 30px;
		position: absolute;
		top: 0px;
	}

	.product-price {
		margin-top: 50px;
		position: absolute;
		top: 0px;
	}

	.product-image {
		margin-top: 80px;}

	.product-discount-label {
		display: none;
	}

	.product-detail-button {
		text-align: right;
	}

	.product-detail-link {
		background-color: #0c5a89;
		color: white;
		padding: 0px 5px 0px 5px;
	}

}

.single-product {
	.btn {
		display: block;
		width: 150px;
		text-align: center;
	}

	.product-discount-label {
		display: none;
	}
	.btn{
		background-color: #0c5a89;
		border-radius: 3px;
		color: #FFFFFF;
		padding: 10px;
		margin-top: 10px;
	}

	.btn:hover{
		background-color: #106ea7;
		text-decoration: none;
	}
	
}

#shoppingcart {
	position: relative;
}



#shopping-cart-dropdown {
	display: none; //will be shown when user clicks on it
	position: absolute;
	z-index: 999;
	background-color: white;
	padding: 10px;
	width: 100%;
  	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.39);
  	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.39);
  	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.39);
}

.category-title {
	background-color: #0c5a89;
	color: #FFFFFF;
	padding-left: 10px;
	margin-top: 20px;
}


.controls {
	@include clearfix;
}
.category-item {
	border-bottom: 1px solid #6b6b6b; 
}

.table {
	width: 100%;
	margin-bottom: 18px;
}

.table th, .table td {
	padding: 8px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table thead:first-child tr:first-child th {
	border-top: 0;
}

.submit-controls{
	color: #FFFFFF;
}

.Leftsidebar-thumbs{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.39);
  	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.39);
  	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.39);	
  	margin-bottom: 20px;
  	width: 100%;
  	height: 100%;
}

.Thumbs-titel{	
	color: #FFFFFF;
	background: #0c5a89;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 0;
}

.Thumbnails {
	border:1px solid #0c5a89;
	width: 100%;
}


.prijs-bar{
	background: rgb(255, 235, 172);
	border: 1px solid rgb(239, 214, 43);
	color: rgb(190, 137, 0);
	border-radius: 5px;
	padding: 5px 10px;
}

.termijnen{
	background: #90c7f1;
	border: 1px solid #5FA4D8;
	color: #216EA8;
	border-radius: 5px;
	padding: 5px 10px;
}

@media screen and (max-width: 700px){
	#shopping-cart-dropdown {
		display: none; //will be shown when user clicks on it
		position: static;
		background-color: white;
		padding: 10px;
		width: 100%;
	  	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.39);
	  	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.39);
	  	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.39);
	}

	.Header-winkelmandje{
		width: 100%;
	}
	
	.product{
		width: 100%;
	}
}

